<div class="main-nav">
  <ul>
    <li *ngIf="role === 'admin'">
      <a href="javascript(0):void" routerLink="home">Home</a>
    </li>
    <li>
      <a href="javascript(0):void" routerLink="about">About</a>
    </li>
    <li>
      <a href="javascript(0):void" routerLink="contact">Contact</a>
    </li>
    <li *ngIf="role === 'admin'">
      <a href="javascript(0):void" routerLink="dashboard">Dashboard</a>
    </li>
    <li>
      <a href="javascript(0):void" routerLink="/">Logout</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>


